html {
  margin: 0;
  padding: 0;
  background-color: #faf0e6;

  body {
    margin: 0;
    padding: 0;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      justify-content: space-between;

      img {
        width: 128px;
        height: 88px;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
    main {
      .accuil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(images/banner.webp);
        background-position: center;
        height: 286px;
        border-radius: 8px;
        filter: opacity(0.8);

        p {
          margin: 0;
        }
        h1 {
          margin: 0;
        }
      }
    }
  }
}
